name: Build Android

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19.10

      - name: Install gogio tool
        run: go install github.com/g45t345rt/gio-cmd/gogio@latest

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Setup NDK
        run: sdkmanager ndk-bundle

      - name: Build android arm64
        run: bash build_gio.sh android arm64

      - name: Build android arm
        run: bash build_gio.sh android arm

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: Build Android
          path: build